body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

form,
div {
  max-width: 700px;
  margin: auto;
  background: white;
  padding: 20px;
}

.note {
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px;
}

input,
textarea,
button {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}